body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    color: rgb(66, 66, 67);
    background-color: rgb(234, 234, 235);
}
